# =========================================================
# ENVIRONMENT VARIABLES / SECRETS
# =========================================================

.env
.env.*
!.env.example


# =========================================================
# CATBOOST
# =========================================================

catboost_info/
app/catboost_info/


# =========================================================
# PYTHON CACHE
# =========================================================

__pycache__/
*.pyc
*.pyo
*.pyd


# =========================================================
# ML MODEL FILES
# =========================================================

app/ml/decision_tree.pkl
app/ml/disease_model.pkl
app/ml/linear_svm.pkl
app/ml/random_forest.pkl
app/ml/symptom_encoder.pkl
app/ml/xgboost.pkl
app/ml/label_encoder.pkl


# =========================================================
# OLD / UNUSED TRAINING FILE
# =========================================================

app/ml/old_train.py